fastapi
uvicorn[standard]
langgraph>=0.1.0
langchain-core
google-generativeai
sentence-transformers
kerykeion>=4.0.0
networkx>=3.0
rank-bm25==0.2.2
duckduckgo-search>=6.0.0
python-louvain
pyngrok
python-dotenv
pdfplumber
networkx==3.2
sentence-transformers==2.2.2